<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action( "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl } )"><img src="@Url.Content("~/Content/gb.svg")" alt="En" style="width: 30px; height: 30px;" /></a></li>
    <li><a href="@Url.Action( "ChangeCulture", "Home", new { lang = "zh-TW", returnUrl = this.Request.RawUrl } )"><img src="@Url.Content("~/Content/tw.svg")" alt="繁" style="width: 30px; height: 30px;" /></a></li>
    <li><a href="@Url.Action( "ChangeCulture", "Home", new { lang = "zh-CN", returnUrl = this.Request.RawUrl } )"><img src="@Url.Content("~/Content/cn.svg")" alt="简" style="width: 30px; height: 30px;" /></a></li>
</ul>